*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: 20px auto;
}

header{
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    border-bottom: #333;
}

section{
    margin-bottom: 30px;
}

nav ul{
    list-style-type:none;
    padding:0;
    text-align: center;
}

nav ul li{
    display:inline-block;
    margin: 0 15px;
}   

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

footer{
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}